* {
    border: 0px;
    font-family: 'Iosevka NF Semibold', FontAwesome, Arial, sans-serif;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    min-height: 40px;
  }
  
  window#waybar {
    background: transparent;
    margin-left: 20px;
  }
  
  window > box {
    background-color: transparent;
    margin: 5px 5px 0 5px;
    transition-property: background-color;
    transition-duration: 0.5s;
  }
  
  #idle_inhibitor {
    padding-left: 15px;
    margin-right: 10px;
    font-size: 22px;
  }
  
  #workspaces {
    padding: 0 5px;
  }
  
  #workspaces button {
    margin: 0 3px;
    color: #ff5736;
  }
  
  #workspaces button:hover {
    background: transparent;
  }
  
  #mode {
    border: 1px solid #333331;
    border-radius: 4px;
    color: #dddddd;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 4px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #backlight, #battery, #cpu, #memory, #network, #pulseaudio {
    color: #26A65B;
    font-size: 15px;
    padding: 0 20px;
  }

  #backlight, #battery, #clock, #cpu, #memory, #network, #pulseaudio, #window, #workspaces {
    background-color: rgba(16, 40, 46, 1.0);
    border: 1.7px solid rgba(178, 213, 255, 0.9);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 25px;
    margin: 1px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #clock {
    color: #ff77ff;
    font-size: 17px;
  }

  #window {
    color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
  }
