* {
    /* `otf-font-awesome` is required to be installed for icons */
      font-family: "Fira Sans Semibold", 'Iosevka NF SemiBold', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
  }
  
  window#waybar {
      background-color: rgba(23, 38, 39, 0.7);
      border-bottom: 3px solid rgba(73, 78, 89, 0.7);
      border-radius: 0px;
      color: #F60b8a;
  }
  
  #workspaces {
      background: rgba(73, 78, 89, 0.7);
      border-radius: 15px;
      border: 0px;
      color: #15161e;
      font-style: normal;
      margin: 5px 3px 5px 12px;
      padding: 0px 1px;
  }
  
  #workspaces button {
      background-color: #F60b8a;
      border-radius: 15px;
      border: 0px;
      color: #15161e;
      font-size: 400px;
      margin: 4px 3px;
      opacity: 0.5;
      padding: 0 5px;
      transition: all 0.3s ease-in-out;
  }
  
  #workspaces button.active {
      color: #15161e;
      background: #F60b8a;
      border-radius: 15px;
      min-width: 40px;
      transition: all 0.3s ease-in-out;
      opacity: 0.6;
  }
  
  #workspaces button:hover {
      background: #F60b8a;
      border-radius: 15px;
      color: #ffffff;
      opacity: 1.0;
  }
  
  #workspaces button.focused {
      background-color: #64727D;
      box-shadow: inset 0 -3px #ffffff;
  }
  
  #workspaces button.urgent {
      background-color: #eb4d4b;
  }
  
  #mode {
      background-color: #64727D;
      border-bottom: 3px solid #ffffff;
  }
  
  #clock,
  #battery,
  #cpu,
  #memory,
  #disk,
  #temperature,
  #backlight,
  #network,
  #pulseaudio,
  #tray,
  #mode,
  #idle_inhibitor,
  #scratchpad {
      padding: 0 10px;
      color: #ffffff;
  }
  
  #window,
  #workspaces {
      margin: 0 4px;
  }
  
  /* If workspaces is the leftmost module, omit left margin */
  .modules-left > widget:first-child > #workspaces {
      margin-left: 0;
  }
  
  /* If workspaces is the rightmost module, omit right margin */
  .modules-right > widget:last-child > #workspaces {
      margin-right: 0;
  }
  
  #clock {
      /*background-color: #64727D;*/
      color: #90b1b1;
      font-size: 16px;
      font-weight: bold;
  }
  
  #battery {
      /*background-color: #ffffff;*/
      color: #ffffff;
  }
  
  #battery.charging, #battery.plugged {
      color: #ffffff;
      background-color: #26A65B;
  }
  
  @keyframes blink {
      to {
          background-color: #ffffff;
          color: #000000;
      }
  }
  
  #battery.critical:not(.charging) {
      background-color: #f53c3c;
      color: #ffffff;
      animation-name: blink;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
  
  label:focus {
      background-color: #000000;
  }
  
  #cpu {
      /*background-color: #2ecc71;*/
      color: #2ecc71;
  }
  
  #memory {
      /*background-color: #9b59b6;*/
      color: #9b59b6;
  }
  
  #disk {
      background-color: #964B00;
  }
  
  #backlight {
      background-color: #90b1b1;
  }
  
  #network {
      /*background-color: #2980b9;*/
      color: #2980b9;
  }
  
  #network.disconnected {
      /*background-color: #f53c3c;*/
      color: #f53c3c;
  }
  
  #pulseaudio {
      /*background-color: #f1c40f;*/
      color: #f1c40f;
  }
  
  #pulseaudio.muted {
      /*background-color: #90b1b1;*/
      color: #90b1b1;
  }
  
  #temperature {
      background-color: #f0932b;
  }
  
  #temperature.critical {
      background-color: #eb4d4b;
  }
  
  #tray {
      background-color: #2980b9;
  }
  
  #tray > .passive {
      -gtk-icon-effect: dim;
  }
  
  #tray > .needs-attention {
      -gtk-icon-effect: highlight;
      background-color: #eb4d4b;
  }
  
  #idle_inhibitor {
      background-color: #2d3436;
  }
  
  #idle_inhibitor.activated {
      background-color: #ecf0f1;
      color: #2d3436;
  }
  
  #language {
      background: #00b093;
      color: #740864;
      padding: 0 5px;
      margin: 0 5px;
      min-width: 16px;
  }
  
  #keyboard-state {
      background: #97e1ad;
      color: #000000;
      padding: 0 0px;
      margin: 0 5px;
      min-width: 16px;
  }
  
  #keyboard-state > label {
      padding: 0 5px;
  }
  
  #keyboard-state > label.locked {
      background: rgba(0, 0, 0, 0.2);
  }
  
  #scratchpad {
      background: rgba(0, 0, 0, 0.2);
  }
  
  #scratchpad.empty {
      background-color: transparent;
  }